body {
  background-color: #EffAFB;
}
.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 3px solid red;
  margin: 3em;
}

.location-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}
.title-container {
 width:40%;
 border:3px solid rgb(240, 102, 87);
}
.roles-container {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-around;
border:3px solid yellow;
  width: 50%;
}

.main-part {
  border:3px solid rgb(0, 19, 128);
  width: 60%;

}

.company-container {
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-right:1em;

}

.languages-container {
  background-color: crimson;

}

.test {
  border: 4px solid greenyellow;
  margin: 1em;
  display:flex;
  flex-direction: row;
}

ul li {
  display: inline;
  padding-left: 1em;
}
#contain-loc {
  display: flex;
  border:3px solid black;
  padding:4px;
}
.article2{
  display: flex;
  border:3px solid violet;
  flex-direction: column;
}
 header img {
  width:110px;
  height:110px;
  
}