body {
  background-color: #EffAFB;
}
.card-container {
  margin: 4em;
} 
.company-details{
  margin-top: 2em;
}
.company-details p {
  padding-left: 1em;
  display: inline;
  padding-top: 0.5em;
}

.roles-container {
  display: flex;
  color: #7EACAD;
}
.roles-container p {
  padding-left: 1em;
}

ul li {
  color:#7EACAD;
}
.company-name {
  color:#7EACAD;
}
.article {
  width: 60%;
}

.card {
  background-color: white;
  margin: 2em;
  display: flex;
  flex-direction: row;
}

ul li {
  display: inline;
  padding-left: 1em;
}

#contain-loc {
  display: flex;
  padding: 4px;
}
#contain-loc p {
  padding-left:1em;
}
.article2 {
  background-color: grey;
}
h3 {
  margin-left: 1em;
}
.img {
  width: 50rem;
  height:50rem;
  border:1px solid black;
}